<nav class="nav">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/" class="link {% if page.url=='/' %} active {% endif %}">Projects</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/about/" class="link {% if page.url=='/about/' %} active {% endif %}">About</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/blog/" class="link {% if page.url=='/blog/' or page.is_post %} active {% endif %}">Blog</a>
      </li>
      <br>
    </ul>
  </nav>
  <nav class="links">
    <ul>
      <li>
        <a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener noreferrer">Github</a>
      </li>
      <li>
        <a href="mailto:{{ site.email }}">Email</a>
      </li>
    </ul>
  </nav>