@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Alegreya:800|Inconsolata');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-size: 1.7rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  padding: 3rem;
  color: $dark;
}