h1 {
  font-size: 1.7rem;
  font-weight: 400;
  display: inline-block;
  @include hoverUnderscore;
}

h2 {
  font-family: 'Alegreya', 'Inconsolata', monospace;
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  line-height: 1;
}

h3 {
  margin-bottom: 1rem;
}

p {
  max-width: 70%;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  max-width: 100%;
}