---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Alegreya:800|Inconsolata"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ '/style.css' | prepend: site.baseurl }}" />
    <link
      rel="shortcut icon"
      href="{{ '/favicon.png' | prepend: site.baseurl }}"
      type="image/png"
    />
    <title>{{ site.title | escape }}</title>
    <meta name="description" content="{{ site.description | escape }}" />
  </head>
  <body>
    {{ content }}
  </body>
</html>
